body {
    background-color: #27acd9;
    font-family: 'メイリオ','Meiryo UI','Arial';
}

.title {
    text-align: center;
    display: block;
    padding: auto;
    background: #c2edff;/*背景色*/
}
a.home-link{
    color:#333;
    text-decoration: none;
}
a.home-link:hover{
    text-decoration: underline;
}

.title h1 {
    font-size: 5rem;
    padding: 0.5em;/*文字まわり（上下左右）の余白*/
}

.title span{
    font-size: 0.5em;
    font-weight: lighter;
}

h2 {
    text-align: left;
    font-size:  48px;
    padding: 0 0.5em;/*文字まわり（上下左右）の余白*/
}

h2.box-title {
    border-bottom:5px solid #27acd9;
}

h3 {
    text-align: center;
    font-size: 42px;
}

h3.section-title {
    border-bottom:5px dotted #27acd9;
}

.logo {
    max-width: 10%;
    vertical-align: middle;
}

p {
    font-size: 24px;
}

.box-top{
    background-color: white;
    max-width: 90%;
    margin: 80px auto;
    /*border: 2px solid #2589d0;*/
    border-radius: 3px;
    overflow: hidden;
}
.box {
    background-color: white;
    max-width: 90%;
    margin: 0 auto;
    /*border: 2px solid #2589d0;*/
    overflow: hidden;
    padding: auto;
}
.box p {
    margin: 0;
    padding: 1em 1.5em;
    color: #333;
}

.section {
    margin: 1em 1.5em;
}

.button-list-wrapper{
    margin: 1rem auto;
}

.button-list {
    display: flex;
    flex-flow: wrap row;
}

.btn {
	display: grid;
    place-items: center;
	/*vertical-align: middle;*/
	text-decoration: none;
	width: 250px;
    min-height: 80px;
	margin: 1rem auto;
	padding: 1rem 4rem;
	font-weight: bold;
    font-size: 24px;
	color: #27acd9;
	border-bottom: 2px solid #27acd9;
	border-radius: 100vh;
    border-width: 1px;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
	transition: 0.5s;
    cursor: pointer;
}

.btn.hovered{
	color: #fff;
	background: #27acd9;
	border-bottom: 2px solid #fff;
	transform: translateY(3px);
}

.btn:hover{
	color: #fff;
	background: #27acd9;
	border-bottom: 2px solid #fff;
	transform: translateY(3px);
}

.btn.disabled {
	color: #ccc;
	border-bottom: 2px solid #ccc;
}
.btn span {
    font-size: 16px;
    font-weight: lighter;
}

#caution {
    text-align: center;
    font-size: 1rem;
}


svg rect.active {
    fill:#27acd9;
    transition: 0.5s;
}

.canvas_a_container{
    display: flex;
    justify-content: center;
}

#canvas_a {
    margin:3rem auto;
}

footer {
    text-align: center;
}

footer p{
    font-size: 1rem;
}